<!doctype html>
<html ng-app="elitistfursapp">
  <head> 
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
	<script src="bootstrap/js/angular.min.js"></script>
	<script src="bootstrap/js/elitist.js"></script>

  </head>
  <body>
  
    <title>Is This Furry Group Elitist?</title>
	<a href="https://github.com/GraemeLion/elitistfursjoke"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
	<div ng-controller="elitistCtrl">
		<div class="container">
			<div class="jumbotron">
				<h1>Elitist Fur Checker</h1>
				<p class="lead">Is this Furry Group Elitist?</p>
					<input type="text" ng-model="furryGroup" ng-hide="Hidden" placeholder="Group Name">
				<a class="btn btn-lg btn-success" href="#" role="button" ng-hide="Hidden" ng-click="checked()">Check</a>
							<H1> ((Result)) </H1>
				<a class="btn btn-lg btn-success" href="#" role="button" ng-hide="DoAnother" ng-click="reset()">Do Another?</a>
		      </div>

		</div>
    	</div>
  </body>
</html>
